<div class="flex p-2 bg-red-300 justify-end">
    <div class="bg-red-600 p-4 m-4">1</div>
    <div class="bg-red-600 p-4 m-4">2</div>
    <div class="bg-red-600 p-4 m-4">3</div>
    <div class="bg-red-600 p-4 m-4">4</div>
</div>
<div class="flex p-2 bg-blue-300 justify-center">
    <div class="bg-blue-600 p-4 m-4">1</div>
    <div class="bg-blue-600 p-4 m-4">2</div>
    <div class="bg-blue-600 p-4 m-4">3</div>
    <div class="bg-blue-600 p-4 m-4">4</div>
</div>
<div class="flex p-2 bg-purple-300 justify-between">
    <div class="bg-purple-600 p-4 m-4">1</div>
    <div class="bg-purple-600 p-4 m-4">2</div>
    <div class="bg-purple-600 p-4 m-4">3</div>
    <div class="bg-purple-600 p-4 m-4">4</div>
</div>
<div class="flex p-2 bg-red-300 justify-around">
    <div class="bg-red-600 p-4 m-4">1</div>
    <div class="bg-red-600 p-4 m-4">2</div>
    <div class="bg-red-600 p-4 m-4">3</div>
    <div class="bg-red-600 p-4 m-4">4</div>
</div>

<!-- Exercicio 10 -->
 <div class="flex p-4 bg-gray-300 justify-center">
    <div class="bg-gray-500 p-2 m-2 border border-gray-900">1</div>
    <div class="bg-gray-600 p-2 m-2 border border-gray-900">2</div>
    <div class="bg-gray-700 p-2 m-2 border border-gray-900">3</div>
    <div class="bg-gray-500 p-2 m-2 border border-gray-900">4</div>
    <div class="bg-gray-600 p-2 m-2 border border-gray-900">5</div>
    <div class="bg-gray-700 p-2 m-2 border border-gray-900">6</div>
 </div>

 <div class="bg-purple-200 h-40 flex flex-wrap content-end justify-center">
    <div class="bg-purple-600 h-10 p-2 mx-4">1</div>
    <div class="bg-purple-600 h-10 p-2 mx-4">2</div>
    <div class="bg-purple-600 h-10 p-2 mx-4">3</div>
 </div>

  <div class="bg-purple-300 h-40 flex flex-wrap content-around justify-center">
    <div class="bg-purple-600 h-10 p-2 w-1/3">1</div>
    <div class="bg-purple-600 h-10 p-2 w-1/3">2</div>
    <div class="bg-purple-600 h-10 p-2 w-1/3">3</div>
    <div class="bg-purple-600 h-10 p-2 w-1/3">4</div>
    <div class="bg-purple-600 h-10 p-2 w-1/3">5</div>
    <div class="bg-purple-600 h-10 p-2 w-1/3">6</div>
 </div>

 <div class="bg-purple-400 flex h-40 items-start">
    <div class="bg-purple-700 m-2 p-2">1</div>
    <div class="bg-purple-700 m-2 p-2">2</div>
    <div class="bg-purple-700 m-2 p-2">3</div>
 </div>

  <div class="bg-red-400 flex h-40 items-center justify-center">
    <div class="bg-red-700 m-2 p-2">1</div>
    <div class="bg-red-700 m-2 p-2">2</div>
    <div class="bg-red-700 m-2 p-2">3</div>
 </div>

 <div class="bg-blue-300 grid grid-cols-3 h-40 place-content-center">
    <div class="bg-blue-600 m-2 p-2">1</div>
    <div class="bg-blue-600 m-2 p-2">1</div>
    <div class="bg-blue-600 m-2 p-2">1</div>
    <div class="bg-blue-600 m-2 p-2">1</div>
    <div class="bg-blue-600 m-2 p-2">1</div>
    <div class="bg-blue-600 m-2 p-2">1</div>
 </div>

 <div class="bg-yellow-400 h-40 p-10">
    <span class="bg-yellow-700 p-4">Padding</span>
    <span class="bg-yellow-700 px-4">Padding X</span>
    <span class="bg-yellow-700 py-4">Padding Y</span>
    <span class="bg-yellow-900 px-4 py-2">Botao</span>
    <span class="bg-yellow-900 pl-4 pt-6 pr-8 pb-10">Padding Custom</span>
 </div>

  <div class="bg-blue-300 grid grid-cols-3 h-40 place-items-start">
    <div class="bg-blue-600 m-2 p-2">1</div>
    <div class="bg-blue-600 m-2 p-2">Testando o item</div>
    <div class="bg-blue-600 m-2 p-2">1</div>
    <div class="bg-blue-600 m-2 p-2">1</div>
    <div class="bg-blue-600 m-2 p-2">1</div>
    <div class="bg-blue-600 m-2 p-2">1</div>
 </div>

 <div class="h-40 p-10">
    <button class="py-2 px-4 bg-green-500 hover:bg-green-700 text-white font-bold rounded">Botao</button>
 </div>

 <div class="w-20 bg-blue-700 text-white font-bold mx-auto mt-2">
    margin Ex
 </div>

 <div class="bg-blue-700 text-white font-bold p-4 max-w-5xl">
    max-width
 </div>

  <div class="bg-blue-300 text-white font-bold p-4 w-40 min-w-full">
    min-width
 </div>