<body>
  <div class="grid bg-red-300 grid-cols-3">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
  </div>
  <!-- Exercicio 7 -->

  <div class="grid grid-cols-3 m-2">
    <div class="bg-red-300">1</div>
    <div class="bg-red-600">2</div>
    <div class="bg-red-300">3</div>
    <div class="bg-red-600">4</div>
    <div class="bg-red-300">5</div>
    <div class="bg-red-600">6</div>
    <div class="bg-red-300">7</div>
    <div class="bg-red-600">8</div>
    <div class="bg-red-300">9</div>
  </div>

  <div class="grid grid-cols-6 m-2">
    <div class="col-span-1 bg-yellow-500">
      <ul>
        <li>Home</li>
        <li>Produtos</li>
        <li>Contatos</li>
        <li>Blog</li>
      </ul>
    </div>
    <div class="col-span-5 bg-blue-400">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique
        repellat veritatis atque delectus magnam. Inventore maxime
        exercitationem mollitia dicta blanditiis. Mollitia est tempore rem amet
        dolor ea debitis omnis laudantium. Quos saepe cumque tempore ducimus
        amet nisi autem ratione et aliquam est, libero consequuntur blanditiis,
        deserunt necessitatibus ad inventore pariatur molestias at. Deserunt
        autem suscipit sequi velit commodi inventore ducimus. Nobis cupiditate
        iste voluptas molestiae deserunt earum mollitia quasi enim quod.
        Architecto ipsam ipsa laboriosam, quos est eos? Ullam explicabo
        perferendis ad accusantium cupiditate asperiores id porro. Unde,
        voluptas quas! Sapiente, eaque. Deserunt provident ex odio, ad eum,
        magnam accusantium magni, debitis eius molestias totam omnis obcaecati
        cupiditate adipisci! Similique sequi qui quis inventore praesentium
        quidem numquam dolores et. Libero. Ipsam voluptas cumque illum facilis
        ad rerum quam est explicabo qui fugit molestias exercitationem, non
        magni rem quibusdam aspernatur, dolore sequi dolor magnam distinctio
        placeat, ex amet! Dolor, officiis assumenda. Voluptatem, id animi eum
        qui optio praesentium nemo vero quam aliquid porro earum eius iste
        accusantium? Facere, illum magnam laudantium natus fugiat cumque
        dignissimos placeat quos voluptas, fuga animi vitae? Rerum praesentium
        molestias fugit facilis autem vitae impedit consequuntur, sapiente
        explicabo amet recusandae tempore ab, nesciunt ipsam laudantium
        voluptatibus eligendi molestiae harum dolorum. Eligendi quidem voluptas
        labore quisquam sit distinctio. Exercitationem deserunt, ad doloribus
        tenetur vitae optio sequi? Perspiciatis similique praesentium fuga
        necessitatibus soluta, voluptates debitis amet tempora ea doloremque ad
        totam optio molestiae dicta dolorem recusandae alias mollitia impedit?
        Ab debitis, exercitationem consectetur magnam pariatur voluptas quae
        reprehenderit dolor, sed illum iure soluta culpa, aut enim obcaecati
        distinctio numquam quos delectus. Maiores ipsa aut ab ex, totam fugiat
        vitae. Enim debitis aliquid iste corrupti eaque quisquam officiis
        reiciendis, ad unde blanditiis similique, saepe rem sed doloremque
        laboriosam non perspiciatis velit voluptas reprehenderit dignissimos
        obcaecati doloribus asperiores? Iusto, ullam enim! Neque vitae eaque
        totam deserunt maiores enim, ut quos natus odio, recusandae eveniet
        fugiat sunt aliquam dolor aspernatur debitis vel inventore ea in iure
        molestiae quisquam. Dicta molestiae libero voluptatem! Magni nemo ad
        tenetur eaque? Ad odit fuga numquam odio similique laudantium reiciendis
        pariatur consectetur magnam labore obcaecati error, vitae deleniti!
        Corrupti sapiente dicta suscipit officia ex, dolores exercitationem
        sint! Dolorum repudiandae perspiciatis soluta dolore debitis nisi
        repellat, sunt accusantium tempore! Exercitationem, saepe illum est
        pariatur placeat veniam quia error eum quam, officiis perspiciatis
        quaerat? Molestias ipsa aspernatur corporis laudantium. Beatae facere
        autem nam maxime ipsa ea quaerat praesentium laboriosam molestias
        reprehenderit illum iure, nihil voluptate est blanditiis sequi ipsam
        alias pariatur culpa delectus rerum, voluptatum quas porro optio.
        Libero? Porro facilis dolorem temporibus, eos doloribus corrupti rem
        repellendus sed optio repudiandae, est vero, nemo non deserunt rerum
        suscipit alias! Quam sequi itaque explicabo rerum illo? Asperiores nisi
        odio unde! Recusandae, mollitia dolore culpa maxime similique eligendi
        tempore! Vitae ipsam qui pariatur, dolor consequuntur a architecto
        libero aut quod quidem impedit adipisci quasi, laudantium aspernatur
        dicta? Voluptates corporis dignissimos distinctio! Quam, enim?
        Architecto, dolorum ab temporibus voluptas sequi cum earum, laborum ex
        praesentium iure vitae suscipit exercitationem voluptatum facilis.
        Corporis saepe commodi facilis nulla dolores sequi quisquam debitis
        voluptatibus assumenda! Deserunt quasi dolor repellendus doloremque
        dolorum ullam a accusamus corrupti perspiciatis nesciunt id quo tempore
        sed deleniti cum delectus tenetur iste, molestiae repellat, error
        doloribus. Sunt quasi neque magni dolorum? Explicabo eum animi fugit
        autem ipsum laudantium ea suscipit, accusamus, ab qui rem modi
        accusantium quos provident, ullam eius. Corrupti voluptas officiis iusto
        dolores reiciendis labore deleniti aperiam laudantium omnis! Ullam a
        rerum perferendis explicabo ipsam quis, maiores laboriosam consequuntur?
        Deserunt saepe quisquam dolor optio doloremque, temporibus molestias,
        dolores tempora placeat, expedita eum reiciendis cumque suscipit dicta
        iusto ut natus. Quod delectus tempora hic reprehenderit placeat
        assumenda, excepturi dicta. Nemo sint quis officia saepe, quia
        accusantium soluta provident adipisci nihil alias illo architecto
        laborum repudiandae sequi molestiae aut natus eos. Repellendus illum,
        reprehenderit quae iure debitis cumque commodi facere exercitationem eum
        ea iste, repellat quisquam voluptas a sunt iusto possimus eaque
        quibusdam quasi tempora? Rem quasi voluptas aut ut corporis! In atque
        culpa aut asperiores, obcaecati suscipit delectus modi ullam non
        expedita adipisci! Maiores numquam error animi libero dolores qui ad
        earum laudantium obcaecati, nam eligendi quidem natus laboriosam
        delectus? Delectus porro veniam officia aperiam sunt, fugiat qui ipsum a
        quis error mollitia perspiciatis sint atque animi eaque voluptatibus,
        adipisci ex eum totam? Doloremque excepturi iste qui placeat sit
        dolores. Aliquid, officia, accusamus quidem vel, delectus illum
        voluptatibus quam similique nam obcaecati eius porro saepe! Veritatis,
        eum veniam vero voluptatem quisquam reiciendis ipsum consequuntur, in
        reprehenderit odit dolor, corporis dolore? In quaerat, velit ipsam
        mollitia rem fugiat iste blanditiis fugit asperiores neque laudantium
        recusandae necessitatibus, repellat labore odio earum optio a nisi. Sit
        earum incidunt assumenda ad minima! Laudantium, architecto? Laudantium
        assumenda repellat, ipsum eveniet asperiores velit ipsam laborum
        praesentium provident voluptate! Unde rerum modi, nostrum eveniet magni
        ullam? Placeat, sapiente iure aspernatur inventore quidem veritatis qui
        porro accusantium? Officia! Iste, culpa! Beatae molestias deserunt id
        ipsam impedit dicta quidem asperiores necessitatibus delectus corrupti
        error, aut accusamus, perspiciatis, voluptate soluta ipsum eaque
        voluptatum quisquam quasi quam illum. Non, quod fugiat. Consectetur,
        totam, dicta quis cumque saepe ducimus quia reiciendis at, est velit
        temporibus amet delectus? Aut odio perspiciatis molestias velit
        repellendus consequatur hic libero vel dolores perferendis, in accusamus
        laborum? Quae quidem aliquam modi ad aliquid fuga dignissimos atque
        quasi tenetur molestias. Accusantium, quis commodi magnam, aliquid
        aliquam sapiente autem ea hic sunt possimus laudantium, maiores ipsum
        sequi magni praesentium. Reiciendis vitae voluptatum explicabo obcaecati
        dolor totam dignissimos maiores ratione architecto veniam. Quos
        aspernatur voluptas repellendus eaque nemo qui quibusdam voluptate
        laudantium, magnam quam ratione similique autem eius laborum molestias!
        Animi, quisquam id sint corporis iste quas praesentium expedita hic
        dolorem voluptatem sit ex necessitatibus sunt error in alias itaque
        molestias aliquid reiciendis officiis suscipit. Nihil dolores numquam
        excepturi ea. Sint explicabo rem quo, est sequi perferendis accusamus
        omnis beatae nemo inventore repellendus quis veritatis neque! Vel ipsa
        facilis quam, voluptatem consequatur incidunt. Qui, voluptatibus cum.
        Illo quae error odit! Fugiat, autem possimus. Numquam autem doloremque
        perspiciatis omnis? Quo, iure? Quaerat modi dolores et iure molestiae
        nam pariatur quia veritatis similique, facilis eos, cupiditate hic ipsam
        odit nulla provident odio. Non quaerat sint, eos rerum repellendus ad
        blanditiis id ratione ipsam esse, saepe quam harum dolorum dolore
        voluptatum placeat doloremque, facere enim facilis nostrum! At sequi
        tempore rem quis perspiciatis! Quo cumque dolores numquam illum
        asperiores modi beatae laboriosam cum assumenda temporibus velit,
        recusandae, ipsa non ad labore consequuntur doloribus maiores cupiditate
        impedit eum eligendi maxime iure natus. Omnis, ipsam? Quibusdam saepe
        quaerat nostrum culpa quos modi ratione. Recusandae neque quis sint
        facilis, eligendi veniam delectus saepe est voluptatibus quod esse sunt
        aliquid similique quidem totam iure id ipsam voluptate. Quod soluta
        totam assumenda quae at qui nihil nisi asperiores, hic laborum, placeat
        enim. Maiores voluptatum fugit enim. Dolor adipisci eveniet beatae
        facilis earum assumenda in dicta officiis autem pariatur! Minima totam
        ducimus distinctio ex non iusto maxime nam, nostrum sed unde, illum
        dolore quibusdam atque. Vel maxime aliquam atque aperiam? Et expedita
        maiores sint, hic nemo blanditiis quaerat nesciunt! Libero possimus
        reiciendis, quod cupiditate sequi nemo quae enim. Quod sequi quis
        praesentium earum numquam saepe debitis, iure inventore tenetur
        voluptatem consequuntur reprehenderit repellendus et enim officiis illum
        perferendis? Quam? Repellat tempora corporis distinctio similique iusto
        eaque pariatur aliquid. Sunt aliquam in ex incidunt neque iusto libero
        cupiditate, necessitatibus saepe debitis laboriosam, tempore culpa
        voluptas rem deleniti itaque corporis? Sed! Reprehenderit magnam ad
        aliquid quidem. Ab enim tempore vel sapiente impedit minus unde
        accusantium fuga itaque hic blanditiis quasi repellendus ipsam,
        necessitatibus incidunt perferendis! Reprehenderit, cupiditate
        voluptates? Quibusdam, beatae quos. Beatae rerum eaque et voluptatem
        voluptas repellat fuga in aperiam ipsa placeat laudantium quos minus
        corrupti dolor aliquam incidunt expedita, optio, unde a possimus.
        Aperiam consequuntur eius porro consectetur inventore! Officia illum
        quod cum accusamus ipsam? Inventore, distinctio iusto quisquam veniam
        voluptatum repudiandae perspiciatis totam eius quod eum cumque minus cum
        amet. Id incidunt deleniti ipsam expedita maiores minima numquam. Magnam
        laudantium corporis perferendis, aut laboriosam totam voluptatem minus
        atque ipsa consequatur aperiam rem dignissimos nam saepe quae dolorem
        magni reprehenderit mollitia vitae porro ipsam quaerat laborum.
        Consequuntur, accusamus est. Harum labore mollitia reprehenderit
        eligendi obcaecati unde praesentium qui distinctio possimus quidem nobis
        autem laboriosam sed quis necessitatibus magnam iste officia quo quasi
        architecto, nisi culpa? Voluptate perferendis aliquam iusto. Ut totam,
        saepe quo, ipsa incidunt porro quibusdam, assumenda voluptate unde
        quaerat expedita. Quia amet et reprehenderit sunt magni similique
        deleniti autem. Ipsum, officia alias. Eligendi quis est voluptas
        praesentium. Corporis cum neque earum illum expedita quia sed ducimus
        eos voluptatem totam numquam optio magnam provident quam, aperiam
        recusandae perspiciatis ipsam at exercitationem laborum pariatur? Ut ad
        quam rem facere. Nam, praesentium. Optio amet repudiandae minus quis
        magni iure nobis dolorum eveniet, odit, illo quas cum odio saepe est,
        nisi quam! Accusamus natus animi aliquam ex deserunt eveniet soluta
        nostrum. Perferendis numquam est facere accusantium eaque officiis.
        Reprehenderit veritatis modi officia dicta optio atque esse iure unde
        est. Ducimus culpa quidem ullam ipsa eveniet incidunt repellendus quam
        neque? Accusantium, possimus.
      </p>
    </div>

    <div class="grid grid-cols-4 m-2">
      <div class="col-span-1 bg-red-700">
        <p>Barra Lateral Esquerda</p>
      </div>
      <div class="col-span-2 bg-red-300">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni ex
          animi qui dolor tenetur. Dolorum, inventore eos. Libero nam aspernatur
          saepe et, molestiae accusantium eos itaque non quam sequi assumenda.
          Non natus tempore eligendi officiis officia praesentium nihil cum
          perferendis sit rem, quo doloribus, magnam iste ipsa aliquam. Nobis
          itaque ipsam sunt ipsum dolores natus ipsa tempora ex amet totam?
          Voluptate nihil odit illum consequatur dicta, harum ex molestias
          excepturi fugiat dolorem doloremque nam aliquid deleniti laborum
          delectus earum facere eveniet reiciendis, architecto beatae qui quae,
          itaque deserunt odio. Necessitatibus. Eum optio sequi modi ducimus
          aperiam minus possimus vitae. Magni, corrupti! Doloremque, eaque aut
          delectus voluptatem, cum necessitatibus adipisci nam recusandae,
          laudantium atque cumque illo! Temporibus explicabo natus obcaecati
          libero? Deleniti voluptates explicabo non amet voluptatibus rerum
          deserunt quod reprehenderit repellendus soluta illum praesentium porro
          odit laborum, animi minus delectus autem nemo ab aut doloremque enim!
          Nihil praesentium quaerat sequi. Impedit, consectetur dicta sint dolor
          doloribus nesciunt, temporibus eos officia exercitationem eveniet
          dignissimos quam corporis soluta dolore! Nemo dignissimos cum
          distinctio rem! Officia magnam quibusdam qui magni officiis. Beatae,
          facilis? Eum, rem, dolore distinctio, fuga voluptates nam earum eaque
          nulla fugit ducimus vitae? Fugiat esse modi repellat perspiciatis,
          ipsa autem vero necessitatibus corrupti optio ipsum ab amet maxime nam
          tempore. Fuga explicabo alias doloribus magni, dolor perspiciatis cum
          nesciunt. Rerum, repudiandae unde doloremque officia quibusdam aperiam
          saepe? Magnam reprehenderit asperiores expedita, soluta odio est
          quibusdam necessitatibus. Iusto nulla in placeat? Temporibus tenetur
          eos optio quo veritatis. Neque reiciendis doloremque suscipit
          veritatis sapiente vel placeat facere itaque vero possimus in
          repudiandae saepe aliquam modi, pariatur autem. Optio maiores adipisci
          officia numquam. Quaerat atque asperiores aperiam ipsam voluptas
          tempora illo dolor rem labore! Provident laboriosam officia dolorem?
          Ullam harum, qui eius consectetur deserunt dolor? Exercitationem sed
          officiis nulla commodi consectetur? Quos, expedita? Omnis laudantium
          sequi earum vitae iure commodi voluptates ipsam reiciendis, neque, ab
          eius officia consequatur asperiores ad non, mollitia labore. Numquam
          quia dolores animi est error, voluptatibus repudiandae iste assumenda.
          Labore, eligendi? Laboriosam voluptate fuga delectus obcaecati quasi
          odio magnam est eveniet! Qui ut in, iste fuga officiis voluptate
          dolores consequuntur odio expedita quo, sed suscipit ad quidem?
          Accusamus, facilis. Rerum natus, libero provident quia doloremque,
          suscipit, omnis sed dolores voluptate eveniet eius quidem odit
          adipisci in iste dolore iure tempora eligendi nobis? Nobis, in
          deleniti! Ut nihil placeat obcaecati? Officiis ipsam laudantium quam
          omnis voluptate animi blanditiis fugit, soluta, magnam iste velit
          explicabo necessitatibus debitis obcaecati, enim in placeat doloribus
          quod eligendi repudiandae. Esse nostrum suscipit aspernatur deserunt
          maxime! Harum minus cupiditate dolores, nemo soluta corporis expedita
          ducimus. Minima porro nisi fugiat eaque sequi. Nemo voluptatibus,
          maiores vero sunt voluptate nulla repellat veritatis aperiam
          reiciendis, ratione perspiciatis. Libero, officia. Voluptatibus
          adipisci in similique optio perferendis, quam harum dolorum quaerat
          hic atque ipsam aliquid unde fugit perspiciatis laboriosam quis non
          sit. Fugit labore laboriosam tempora error iusto molestiae dolorum
          reiciendis. Praesentium, fugiat. Nisi tempore nobis suscipit mollitia
          rerum tempora quam ratione saepe consequatur ducimus accusamus
          consectetur officiis unde aliquid iure iusto, beatae quos. Dicta odit
          repudiandae, fugiat quisquam non facere. Quibusdam inventore
          asperiores tenetur atque, deserunt praesentium. Culpa laborum iste
          dolorem ut necessitatibus eveniet, ex natus libero assumenda
          quibusdam. Nesciunt illo sapiente pariatur fugit placeat est iste non
          odio repudiandae? Dolor exercitationem sapiente voluptate ex
          perferendis deserunt delectus iusto. Sequi, veritatis! Obcaecati alias
          excepturi, odio, quaerat quas eum deserunt nam natus cupiditate
          tempore eligendi deleniti temporibus libero pariatur quasi assumenda?
          Soluta ipsa nisi dolores ipsum deserunt ad eaque accusantium dicta
          eius, animi, voluptatibus harum quas vero aperiam quis debitis nemo
          quo earum ea? Ullam aspernatur eum assumenda eaque laboriosam
          sequi.Conteudo
        </p>
      </div>
      <div class="col-span-1 bg-red-700">
        <p>Barra Lateral Direita</p>
      </div>
    </div>
  </div>
</body>

<div class="grid grid-rows-5 grid-flow-col">
  <div class="bg-green-400">1</div>
  <div class="bg-green-600">2</div>
  <div class="bg-green-400">3</div>
  <div class="bg-green-600">4</div>
  <div class="bg-green-400">5</div>
  <div class="bg-green-600">6</div>
  <div class="bg-green-400">7</div>
  <div class="bg-green-600">8</div>
</div>

<!-- Gap -->
<div class="grid grid-cols-3 m-4 gap-2">
  <div class="bg-purple-400">1</div>
  <div class="bg-purple-600">2</div>
  <div class="bg-purple-400">3</div>
  <div class="bg-purple-600">4</div>
  <div class="bg-purple-400">5</div>
  <div class="bg-purple-600">6</div>
  <div class="bg-purple-400">7</div>
  <div class="bg-purple-600">8</div>
</div>
