<body>
    <p class="text-xl font-serif">Testando fonte serifada</p>
    <p class="text-xl font-sans">Testando fonte sem serifa</p>
    <p class="text-xl font-mono">Testando fonte monospace</p>
    <p class="text-xl font-arial">Testando fonte arial</p>
</body>

<div>
    <p class="text-xl font-serif">Testando fonte serifada</p>
    <p class="text-xl font-sans">Testando fonte sem serifa</p>
    <p class="text-xl font-mono">Testando fonte monospace</p>
    <p class="text-xl font-arial">Testando fonte arial</p>
    <!-- Tamanho de Fonte -->
    <p class="font-arial text-xs">Tamanho de Fonte</p>
    <p class="font-arial text-lg">Tamanho de Fonte</p>
    <p class="font-arial text-2xl">Tamanho de Fonte</p>
    <p class="font-arial text-6xl">Tamanho de Fonte</p>
</div>

<!-- Exercicio 13 -->
 <p class="font-mono text-xl p-4 bg-gray-500">Resolucao exercicio 13</p>

<!-- Estilo e Weight -->
<p class="text-xl italic">Texto em italico</p>
<p class="text-xl italic font-bold">Texto em italico</p>
<p class="text-xl font-hairline">Texto em weight 100</p>
<p class="text-xl font-black">Texto em weight 900</p>
<p class="text-xl font-bold">Texto em weight 600</p>
<p class="text-xl font-semibold">Texto em weight 500</p>


<!-- Letting Soacing e line height -->
<p class="text-xl tracking-tighter">Espacamento entre letras MENOR</p>
<p class="text-xl">Espacamento entre letras</p>
<p class="text-xl tracking-widest">Espacamento entre letras MAIOR</p>

<p class="text-2xl w-64 leading-tight">Espacamento entre linhas, mais algumas palavras para testa</p>
<p class="text-2xl w-64 leading-loose">Espacamento entre linhas, mais algumas palavras para testar</p>

<!-- Listas -->
 <ul class="list-decimal m-10 bg-red-300 list-inside">
    <li>Carro</li>
    <li>Aviao</li>
    <li>Barco</li>
    <li>Navio</li>
 </ul>

 <!-- placeholder -->
  <div class="m-4">
    <input type="text" placeholder="Este é o placeholder" class="placeholder-red-900 placeholder-opacity-90">
  </div>

  <!-- Alinhamemto de Texto -->
<p class="bg-purple-300 text-2xl text-white text-left p-2">Texto a esquerda</p>
<p class="bg-purple-400 text-2xl text-white text-center p-2">Texto ao centro</p>
<p class="bg-purple-500 text-2xl text-white text-right p-2">Texto a direita</p>

<!-- Decoration e transform -->
 <p class="text-2xl underline">Este texto vai ter um underline</p>
 <p class="text-2xl line-through text-orange-600">Este texto vai ter um line through</p>
 <p class="text-2xl lowercase">ESTE TEXTO VAI FICAR TODO EM MINUSCULO</p>
 <p class="text-2xl uppercase">ESte teXto VAi FICAR todo em MAiusCulo</p>
