<h1 class="bg-green-500 text-red-300 hover:bg-red-300 hover:text-green-500">
  layout worksv
</h1>

<button class="btn-blue">Botao</button>
<button class="btn-green">Botao</button>
<button
  class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
>
  Botao
</button>

<div
  class="w-4 md:w-6 lg:w-10 h-4 md:h-6 lg:h-10 m-4 bg-green-400 md:bg-blue-400 lg:bg-red-400 xl:bg-gray-900"
></div>

<div>
  <input
    type="text"
    placeholder="Clica em mim"
    class="bg-gray-300 text-gray-900 focus:bg-red-600 focus:text-red-400"
  />
</div>

<body>
  <div
    class="container bg-red-300 mx-auto p-4 my-4 text-red-900 border-red-600 border-2"
  >
    <p>O texto do container</p>
  </div>

  <!-- Exercicio 1 -->
  <div class="container bg-green-400 md:bg-blue-400">
    <p>This text layout</p>
  </div>

  <div
    class="container bg-purple-700 border-2 border-purple-900 m-4 border-box p-10"
  >
    <p>Border box</p>
  </div>

  <div
    class="container bg-teal-400 border-2 border-teal-900 m-4 box-content p-10"
  >
    <p>Box content</p>
  </div>

  <!-- Display -->
  <div class="container">
    <span class="block bg-red-300">Não sao elementos em bloco</span>
    <span class="block bg-red-300">Não são elementos em bloco</span>
    <div class="bg-blue-500 inline-block">block</div>
    <div class="bg-blue-500 inline-block">block</div>
    <div class="bg-green-900 hidden">Estou aparecendo</div>
  </div>

  <!-- Exercicio 2 -->
  <div class="container bg-red-200 m-6 p-6">
    <div class="bg-red-300 inline-block">Div 1</div>
    <div class="bg-red-500 inline-block">Div 2</div>
    <div class="bg-red-700 inline-block">Div 3</div>
  </div>

  <div class="overflow-hidden h-16 mg-26 bg-red-300">
    <p>testando overflow HIDDEN</p>
    <p>testando overflow</p>
    <p>testando overflow</p>
    <p>testando overflow</p>
    <p>testando overflow</p>
    <p>testando overflow</p>
  </div>

  <div class="overflow-auto h-16 mg-26 bg-red-300">
    <p>testando overflow AUTO</p>
    <p>testando overflow</p>
    <p>testando overflow</p>
    <p>testando overflow</p>
    <p>testando overflow</p>
    <p>testando overflow</p>
  </div>

  <div class="overflow-x-auto h-16 mg-26 bg-green-300">
    <p>
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    </p>
  </div>

  <div class="overflow-y-auto h-16 mg-26 bg-purple-300">
    <p>testando overflow Y AUTO</p>
    <p>testando overflow</p>
    <p>testando overflow</p>
    <p>testando overflow</p>
    <p>testando overflow</p>
    <p>testando overflow</p>
  </div>

  <!-- Positions -->
  <div class="relative bg-pink-500">
    teste
    <div class="absolute top-0 right-0 bg-pink-900">Absolute</div>
  </div>

  <!-- Exercicio 3 -->
  <div class="container h-10 bg-teal-800 relative m-10">
    container
    <div class="absolute bottom-0 right-0 bg-teal-300">Div</div>
  </div>

  <!-- Visibility -->
  <div class="container bg-red-400 visible">
    <p>Estou Oculto</p>
  </div>

  <!-- Z index -->
  <div class="container relative h-20">
    <div class="bg-red-300 h-20 w-20 p-6 absolute z-10">Na frente</div>
    <div class="bg-red-600 h-20 w-20 p-6 absolute m-4">Atras</div>
  </div>

  <!-- Exercicio 3 -->
  <div class="container relative h-20">
    <div class="bg-purple-300 h-20 w-20 p-6 z-20">Posicao 1</div>
    <div class="bg-purple-600 h-20 w-20 p-6 z-10 m-3">Posicao 2</div>
    <div class="bg-purple-900 h-20 w-20 p-6 m-4">posicao 3</div>
  </div>
</body>
