<body>
  <div>
    <button class="m-4 p-4 bg-red-400 rounded-sm">testando menor</button>
    <button class="m-4 p-4 bg-red-400 rounded">testando</button>
    <button class="m-4 p-4 bg-red-400 rounded-3xl">testando maior</button>
  </div>

  <div>
    <span class="bg-green-400 w-20 h-20 block m-4 rounded-full">Circular</span>
    <span class="bg-green-400 w-40 h-20 block m-4 rounded-full">Pílula</span>
  </div>

  <!-- Largura e cor -->
  <div>
    <span
      class="bg-blue-600 w-20 h-10 block m-6 text-center text-white border-4 border-blue-800"
      >Botao</span
    >
    <span
      class="bg-blue-600 w-20 h-10 block m-6 text-center text-white border-4 border-blue-800 rounded-lg"
      >Botao</span
    >
  </div>
</body>
